.games-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

.games-title {
  font-size: 2.0rem;
  font-weight: 800;
  margin-bottom: 6px;
}

.games-subtitle {
  font-size: 1.0rem;
  color: #9ca3af;
  margin-bottom: 32px;
}

.jogos-filtros {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #0f0f14;
  padding: 10px 14px;
  border-radius: 10px;
}

.search-box input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}

.filtro {
  display: flex;
  align-items: center;
  gap: 6px;

  background: #0f0f14;
  padding: 10px 14px;
  border-radius: 15px;

  border: 1px solid rgba(255, 255, 255, 0.06);
  cursor: pointer;
}

.filtro select {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;

  color: #d1d5db;
  font-size: 14px;
  cursor: pointer;
}

.filtro-icon {
  color: #9ca3af;
  font-size: 16px;
}

.contador {
  margin: 12px 0;
  opacity: .7;
}

.jogos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}

.game-card {
  cursor: pointer;
  background: #0b0b10;
  border-radius: 14px;
  padding: 10px;
  transition: transform .2s;
}

.game-card:hover {
  transform: scale(1.04);
}

.game-card img {
  width: 100%;
  border-radius: 10px;
}

.game-card h3 {
  margin-top: 8px;
  font-size: 14px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #0f0f14;
  padding: 24px;
  border-radius: 16px;
  max-width: 520px;
  width: 100%;
}

.modal button {
  margin-top: 16px;
  background: #2563eb;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}