.market-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

.market-title {
  font-size: 2.0rem;
  font-weight: 800;
  margin-bottom: 6px;
}

.market-subtitle {
  font-size: 1.0rem;
  color: #9ca3af;
  margin-bottom: 32px;
}

.cart-float-btn {
  position: fixed;
  top: calc(110px + 20px);
  right: 30px;
  z-index: 1000;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: #fff;
  padding: 12px 16px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s ease;
}

.cart-float-btn:hover {
  transform: translateY(-2px);
}


/* SEARCH */
.market-filtros {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #0f0f14;
  padding: 12px 16px;
  border-radius: 12px;
}

.search-bar input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
}

.filtro {
  display: flex;
  align-items: center;
  background-color: #0f0f14;
  padding: 10px 14px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.filtro select {
  background-color: transparent;
  color: #9ca3af;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.filtro select:focus {
  background-color: transparent;
  box-shadow: none;
}

.filtro option {
  background-color: #0f0f14;
  color: #e5e7eb;
}


.filtro-icon {
  color: #9ca3af;
  font-size: 16px;
}

/* CONTADOR */
.contador {
  margin-bottom: 16px;
  opacity: .7;
}

/* GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

/* CARD */
.product-card {
  background: #0b0b10;
  border-radius: 16px;
  overflow: hidden;
  transition: transform .2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-info {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-info h3 {
  font-size: 15px;
}

.product-info .marca {
  font-size: 13px;
  color: #9ca3af;
}

.product-info strong {
  color: #22c55e;
  margin: 6px 0;
}

.product-info button {
  margin-top: 8px;
  background: #2563eb;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-carrinho {
  margin-top: 10px;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.25s ease;
}

.btn-carrinho:hover {
  background: linear-gradient(135deg, #1d4ed8, #1e40af);
  transform: translateY(-2px);
}

.btn-carrinho:active {
  transform: scale(0.97);
}